//font roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



@font-face {
    font-family: "TTNorms-Bold";
    src: url("../fonts/TTNorms-Bold.otf");
}

@font-face {
    font-family: "A-OTF-Midashi-Go-MB31-Pro-MB31";
    src: url("../fonts/A-OTF-Midashi-Go-MB31-Pro-MB31.otf");
}