#p-about{
    #header .header-desktop {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        .nav-menu ul li a{
            color: #fff;
            &:hover{
                color: $main-color;
            }
        }
    }
    .container{
        @include br747{
            padding-left: 30px;
            padding-right: 30px;   
        }
    }
    .b-big-mv{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.16);
            z-index: 1;
        }
        img{
            width: 100%;
            // height: 100vh;
            object-fit: cover;
            @include br747{
                height: 194px;
            }
        }
        .content{
            color: #fff;
            position: absolute;
            left: 123px;
            top: calc(50% + 28px);
            transform: translateY(-50%);
            z-index: 2;
            @include br747{
                left: 31px;
                top: 50%;
            }
            .title{
                font-size: 50px;
                font-weight: 700;
                line-height: 42px;
                font-family: "Roboto";
                letter-spacing: 8px;
                margin-bottom: 16px;
                color: #fff;
                @include br971{
                    font-size: 40px;
                    line-height: 56px;
                    letter-spacing: 1px;
                }
                @include br747{
                    font-size: 25px;
                    line-height: 25px;
                    margin-bottom: 8px;
                    letter-spacing: 3.8px;
                }
            }
            .desc{
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1.8px;
                position: relative;
                display: inline-block;
                margin-bottom: 7px;
                padding-left: 50px;
                @include br747{
                    font-size: 12px;
                    letter-spacing: 0.8px;
                    margin-bottom: 5px;
                    margin-left: 3px;
                    padding-left: 34px
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 40px;
                    height: 1px;
                    background-color: #fff;
                    @include br747{
                        width: 26px;
                    }
                }
            }
        }
    }
    .b-intro{
        text-align: center;
        padding-top: 117px;
        margin-bottom: 100px;
        @include br747{
            margin-bottom: 98px;
            padding-top: 73px;   
        }
        .inner{
            width: 698px;
            max-width: 100%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            &::before{
                content: url("../images/about/intro-shape.png");
                position: absolute;
                left: -227px;
                top: -150px;
                z-index: -1;
                @include br747{
                    content: url("../images/about/intro-shape-mobile.png");
                    left: -57px;
                    top: -108px;
                    z-index: -1;
                }
            }
        }
        .title{
            font-size: 32px;
            line-height: 50px;
            font-family: "A-OTF-Midashi-Go-MB31-Pro-MB31";
            letter-spacing: 1.6px;
            margin-bottom: 12px;
            width: 102%;

            br{
                display: none;
            }
            @include br747{
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 1px;
                margin-bottom: 15px;
                width: calc(100% + 10px);
                br{
                    display: inline-block;
                }
            }
        }
        .subtitle{
            font-size: 13px;
            font-weight: 700;
            color: $main-color;
            font-family: "Roboto";
            letter-spacing: 1.3px;
            margin-bottom: 41px;
            br{
                display: none;
            }
            @include br747{
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 1px;
                margin-bottom: 24px;
                br{
                    display: inline-block;
                }
            }
        }
        .desc{
            text-align: left;
            font-size: 15px;
            line-height: 36px;
            letter-spacing: 1.5px;
            margin-bottom: 45px;
            @include br747{
                font-size: 13px;
                line-height: 26px;
                letter-spacing: 1.3px;
            }
        }
        .btn-group{
            width: 698px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include br747{
                width: 220px;
            }
            .row{
                width: calc(100% + 20px);
                margin-left: -10px;
                margin-right: -10px;
                .col{
                    padding-left: 10px;
                    padding-right: 10px;
                    @include br747{
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
            a{
                &.btn-border{
                    letter-spacing: 0;
                }
            }
        }
    }
    .b-outline{
        margin-bottom: 130px;
        @include br747{
            margin-bottom: 78px;
        }
        .c-title{
            margin-bottom: 17px;
            h3{
                margin-bottom: -7px;
            }
        }
        .inner{
            width: 698px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            ul{
                li{
                    display: flex;
                    border-bottom: 1px solid #E0E0E0;
                    padding: 18px 0 17px;
                    @include br747{
                        display: block;
                        padding: 7px 0 15px;
                    }
                    .label{
                        width: 162px;
                        padding-left: 20px;
                        margin-right: 20px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 36px;
                        color: $main-color;
                        letter-spacing: 1.5px;
                        @include br747{
                            font-size: 12px;
                            padding-left: 0;
                            margin-bottom: -5px;
                            font-weight: 600;
                        }
                    }
                    .value{
                        font-size: 16px;
                        line-height: 32px;
                        letter-spacing: 1.6px;
                        @include br747{
                            font-size: 13px;
                            line-height: 26px;   
                        }
                        br.sp{
                            display: none;
                            @include br747{
                                display: inline-block;
                            }
                        }
                        span{
                            font-size: 14px;
                        }
                        p{
                            margin-bottom: 0;
                        }
                        a{
                            font-size: 16px;
                            font-weight: 500;
                            color: $main-color;
                            letter-spacing: 2.3px;
                            margin-top: 5px;
                            @include br747{
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

