#p-blog-details{
    .blog-content{
        margin-top: 108px;
        margin-bottom: 130px;
        position: relative;
        @include br747{
            margin-top: 70px;
            margin-bottom: 80px;
        }
        .share-link{
            position: fixed;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
            @include br747{
                top: auto;
                transform: none;
                bottom: 20px;
                right: 20px;
            }
            &::before{
                content: "";
                width: 1px;
                height: 37px;
                display: block;
                background-color: $main-color;
                margin-bottom: 25px;
                @include br747{
                    display: none;
                }
            }
            .label{
                font-family: "Roboto";
                font-size: 12px;
                color: $main-color;
                letter-spacing: 2px;
                transform: rotate(90deg);
                @include br747{
                    display: none;
                }
            }
            ul{
                margin-top: 44px;
                @include br747{
                    margin-top: 0;
                    display: flex;
                    flex-wrap: wrap;
                }
                li{
                    margin-bottom: 19px;
                    @include br747{
                        margin-bottom: 10px;
                        margin-left: 10px;
                    }
                    a{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #EDEDED;
                        @include br747{
                            width: 35px;
                            height: 35px;
                            img{
                                width: 15px;
                            }
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .container{
            width: 738px;
            max-width: 100%;
        }
        .blog-meta{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            .time{
                font-size: 12px;
                font-weight: 700;
                font-family: "Roboto";
                color: $main-color;
                letter-spacing: 1.8px;
                margin-bottom: 0;
                margin-right: 23px;
            }
            .tag{
                display: flex;
                align-items: center;
                svg{
                    margin-right: 5px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        margin-right: 7px;
                        a{
                            font-size: 11px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            color: $main-color;
                            border-radius: 10px;
                            border: 1px solid $main-color;
                            padding: 0px 7px;
                            display: inline-flex;
                            &:hover{
                                background-color: $main-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .blog-title{
            font-size: 42px;
            font-weight: 700;
            letter-spacing: 4px;
            margin-bottom: 23px;
            @include br747{
                font-size: 22px;
                letter-spacing: 2px;
            }
        }
        .blog-desc{
            line-height: 30px;
            letter-spacing: 2.25px;
            @include br747{
                line-height: 26px;
            }
        }
        .agent{
            margin-top: 64px;
            @include br747{
                margin-top: 50px;
            }
            + .agent{
                margin-top: 90px;
                @include br747{
                    margin-top: 50px;
                }
            }
            h3{
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 3px;
                border-bottom: 1px solid #E0E0E0;
                padding-bottom: 20px;
                margin-bottom: 30px;
                @include br747{
                    font-size: 18px;
                }
            }
            .image{
                margin-bottom: 22px;
            }
            p{
                line-height: 30px;
                letter-spacing: 2.25px;
                @include br747{
                    line-height: 26px;
                }
            }
        }
        .btn-back{
            width: 300px;
            max-width: 100%;
            margin: 71px auto 0;
            border-color: #C4C4C4;
            height: 57px;
            font-size: 18px;
            @include br747{
                font-size: 14px;
                height: 53px;
                margin-top: 30px;
            }
            &:hover{
                border-color: $main-color;
            }
            svg{
                right: 14px;
            }
        }
    }
    .related-post{
        padding-top: 69px;
        padding-bottom: 12px;
        background-color: rgba(148, 145, 58, 0.1);
        .c-title{
            margin-bottom: 30px;
            h3{
                margin-bottom: -10px;
            }
        }
        .row{
            @include br747{
                margin-left: -10px;
                margin-right: -10px;
            }
            > div{
                @include br747{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
        .blog-item{
            margin-bottom: 62px;
            @include br747{
                margin-bottom: 40px;
            }
            .image{
                overflow: hidden;
                img{
                    transition: .4s all;
                    width: 100%;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .info{
                margin-top: 16px;
                .time{
                    font-size: 12px;
                    font-weight: 700;
                    font-family: "Roboto";
                    color: #949048;
                    letter-spacing: 1.8px;
                    margin-bottom: 8px;
                }
                .title{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 2px;
                    margin-bottom: 10px;
                    color: #000000;
                    display: inline-block;
                    @include br747{
                        font-size: 14px;
                    }
                    &:hover{
                        color: $main-color;
                    }
                }
                .tag{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 9px;
                    }
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            margin-right: 7px;
                            a{
                                font-size: 11px;
                                font-weight: 500;
                                letter-spacing: 1px;
                                color: #949048;
                                border-radius: 10px;
                                border: 1px solid #949048;
                                padding: 0px 7px;
                                display: inline-flex;
                                &:hover{
                                    background-color: #949048;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}