#p-case-study{
    #header .header-desktop {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        .nav-menu ul li a{
            color: #fff;
            &:hover{
                color: $main-color;
            }
        }
    }
    .b-big-mv{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.16);
            z-index: 1;
        }
        img{
            width: 100%;
            // height: 100vh;
            object-fit: cover;
            @include br747{
                height: 194px;
            }
        }
        .content{
            color: #fff;
            position: absolute;
            left: 123px;
            top: calc(50% + 28px);
            transform: translateY(-50%);
            z-index: 2;
            @include br747{
                left: 31px;
                top: 50%;
            }
            .title{
                font-size: 50px;
                font-weight: 700;
                line-height: 42px;
                font-family: "Roboto";
                letter-spacing: 8px;
                margin-bottom: 16px;
                color: #fff;
                @include br971{
                    font-size: 40px;
                    line-height: 56px;
                    letter-spacing: 1px;
                }
                @include br747{
                    font-size: 25px;
                    line-height: 25px;
                    margin-bottom: 8px;
                    letter-spacing: 3.8px;
                }
            }
            .desc{
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1.8px;
                position: relative;
                display: inline-block;
                margin-bottom: 7px;
                padding-left: 50px;
                @include br747{
                    font-size: 12px;
                    letter-spacing: 0.8px;
                    margin-bottom: 5px;
                    margin-left: 3px;
                    padding-left: 34px
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 40px;
                    height: 1px;
                    background-color: #fff;
                    @include br747{
                        width: 26px;
                    }
                }
            }
        }
    }
    .case-study-desc{
        width: 697px;
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 116px;
        margin-bottom: 90px;
        @include br747{
            margin-top: 70px;
            margin-bottom: 70px;
        }
    }
    .b-service{
        margin-bottom: 122px;
        @include br747{
            margin-top: 70px;
            margin-bottom: 70px;                   
        }
        .container{
            max-width: 896px;
        }
        .row > div{
            &:nth-child(1){
                .service-box{
                    &::before{
                        content: "";
                        height: 98px;
                        width: 1px;
                        background-color: $main-color;
                        position: absolute;
                        left: -22px;
                        top: 50%;
                        transform: translateY(-50%);
                        @include br747{
                            display: none;
                        }
                    }
                }
            }
        }
        .service-box{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            @include br747{
                justify-content: flex-start;
                margin-bottom: 20px;            
            }
            &::after{
                content: "";
                height: 98px;
                width: 1px;
                background-color: $main-color;
                position: absolute;
                right: -22px;
                top: 50%;
                transform: translateY(-50%);
                @include br747{
                    display: none;           
                }
            }
            .icon{
                width: 51px;
                height: 51px;
                margin-right: 8px;
                @include br747{
                    width: 31px;
                    height: 31px;           
                }
                img{
                    @include br747{
                        width: 30px;       
                    }
                }
            }
            h5{
                font-size: 20px;
                font-weight: 500;
                line-height: 37px;
                color: #AAA769;
                margin-bottom: 0;
                letter-spacing: 3px;
                @include br747{
                    font-size: 15px;
                    line-height: 28px;           
                }
            }
            .icon-down{
                position: absolute;
                bottom: -19px;
                left: 50%;
                transform: translateX(-50%);
                @include br747{
                    position: static;
                    transform: none;
                    margin-left: 10px;       
                }
            }
        }
    }

    .b-case-study{
        margin-bottom: 100px;
        + .b-case-study{
            margin-bottom: 120px;
            @include br747{
                margin-bottom: 42px;
            }
        }
        .container{
            max-width: 940px;
        }
        @include br747{
            margin-bottom: 42px;
        }
        .c-title{
            margin-bottom: 30px;
            h3{
                margin-bottom: -9px;
            }
            p{
                letter-spacing: 0;
            }
        }
        .row.gutter-20 > div{
            @include br971{
                margin-bottom: 42px;
            }
        }
        .row.gutter-20{
            @include br747{
                margin-left: -7.5px;
                margin-right: -7.5px;
                > div{
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                }
            }
        }
        .image{
            overflow: hidden;
            img{
                max-width: 285px;
                transition: .4s all;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .info{
            margin-top: 14px;
            h3{
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 2.8px;
                margin-bottom: 3px;
                width: calc(100% + 5px);
                @include br747{
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 2px;
                    margin-bottom: 7px;
                    br{
                        display: none;
                    }
                }
            }
            p{
                font-size: 12px;
                font-weight: 500;
                color: #949048;
                letter-spacing: 2px;
                margin-bottom: 0;
                @include br747{
                    font-size: 10px;
                    line-height: 13px;
                    letter-spacing: 1.5px;
                }
                span{
                    @include br747{
                        display: block;
                    }
                }
            }
        }
    }
}