#p-contact {
  .page-title {
    margin-top: 84px;
    margin-bottom: 47px;
    @include br747 {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .c-title {
        h3 {
            font-size: 50px;
            line-height: 42px;
            letter-spacing: 7.5px;
            margin-bottom: 9px;
            @include br747 {
                font-size: 32px;
                margin-bottom: 0;
                letter-spacing: 3px;
            }
        }
        p {
            font-size: 18px;
            letter-spacing: 2px;
            @include br747 {
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
}
  .contact-form-content {
    .container {
      width: 738px;
      max-width: 100%;
    }
    p {
      line-height: 42px;
    }
    .title-contact {
      text-align: center;
    }

    .title-top-CONTACT {
      font-size: 50px;
      font-weight: bold;
      line-height: 42px;
      letter-spacing: 7px; 
      @include br747 {
  font-size: 20px !important;
}
    }
    .title-sub-top-contact {
      letter-spacing: 5px;
    }
    p.sub-text-contact {
      line-height: 32px;
      margin-bottom: 0px;
      @include br747{
        line-height: 26px;
      }
    }
    .light-32 {
      line-height: 32px !important;
    }
    .drc-contact {
      display: flex;
      align-items: center;
      justify-content: start;
      margin-left: 33px;
      margin-right: 50px;
      p{
        color: #1E1F21;
      }
      @include br747{
        margin-left: 0;
        margin-right: 0;
        display: block;
      }
    }
    .drc-contact-texte {
      margin-top: 16px;
      align-items: flex-start;
    }
    .w-638 {
      // width: 638px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 61px;
    } 
    .w-638 p {
      line-height: 54px;
      margin-bottom: 0px;
    }

    .w-30 {
      width: 175px;
      margin-right: 15px;
      @include br747{
        width: 100%;
      }
    }
    .w-70-contact {
      width: calc(100% - 190px);
      @include br747{
        width: 100%;
      }
    }
    .w-95-contact {
      width: 100%;
      height: 45px;
      border: 1px solid #d0d0d0;
      border-radius: 4px;
    }
    .bre-contact {
      width: 100%;
      height: 1px;
      background-color: #bebebe;
      border-radius: 1px;
      margin-top: 12px;
    }
    .bre-contact-ft {
      width: 100%;
      height: 1px;
      background-color: #bebebe;
      border-radius: 1px;
      margin-top: 24px;
    }
    .drc-contact.text-name-contact {
      margin-top: 16px;
    }
    .Required-item-contac {
      background: #d85757;
      color: white;
      padding: 0px 6px;
      margin-left: -6px;
      font-size: 13px;
      letter-spacing: 2px;
    }
    // .Required-item-contac2 {
    //   background: #d85757;
    //   color: white;
    //   padding: 0px 3.7px;
    //   margin-left: -4px;
    // }
    // .Required-item-contac1 {
    //   background: #d85757;
    //   color: white;
    //   padding: 0px 3.7px;
    //   margin-left: -7px;
    // }
    textarea.w-95-contact {
      height: 214px;
      padding: 15px;
      @include br747{
        height: 170px;
      }
      &:focus-visible{
        outline: none;
      }
    }
    .w-30.h-100-textea {
      color: #1E1F21;
      line-height: 54px !important;
      letter-spacing: 3px !important;
    }
    .group-btn-regis-contact {
      display: flex;
      justify-content: center;
      margin-top: 61px;
      padding-bottom: 130px;
      @include br747{
        margin-top: 30px;
        padding-bottom: 80px;
      }
      .w-300 {
        width: 300px;
        background: #1e1f21;
        display: block;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #fff;
        border: none;
        position: relative;
        @include br747{
          font-size: 13px;
        }
        &:hover{
          background-color: $main-color;
          border-color: $main-color;
        }
        svg{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 13px;
        }
      }
      .p-dbtn-ft {
        padding: 0px 15px;
        letter-spacing: 2.6px;
      }
    }
  }
}

