#job-details {
    .b-for-job {
        margin-top: 86px;
        @include br747{
            margin-top: 50px;
        }
        .inner {
            width: 698px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .job-opportunity {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: none;
            padding: 0 14px;
            height: 31px;
            border-radius: 4px;
            letter-spacing: 1.5px;
            font-size: 14px;
            color: #1e1f21;
            font-family: "Yu Gothic";
            background-color: #EFEFEF;
            margin-bottom: 10px;
        }
        .page-title {
            margin-bottom: 39px;
            font-size: 28px;
            letter-spacing: 2.8px;
            font-weight: bold;
            @include br747 {
                font-size: 20px;
            }
        }
        p {
            line-height: 30px;
            letter-spacing: 2.25px;
            @include br747{
                line-height: 26px;
            }
        }
    
        .group-btn{
            width: 637px;
            max-width: 100%;
            margin-top: 57px;
            margin-left: auto;
            margin-right: auto;  
            padding-bottom: 34px;
            margin-bottom: 96px;
            display: flex;
            justify-content: space-between;
            @include br747{
                display: block;
                margin-top: 20px;   
                margin-bottom: 50px;
            }
            a{
                font-size: 18px;
                height: 57px;
                font-weight: 500;
                width: calc(100% - 37px);
                @include br747{
                    font-size: 13px;
                    width: 100%;   
                }
                svg{
                    right: 11px;
                }
                &.btn-active{
                    margin-right: 37px;
                    background-color: $main-color;
                    border-color: $main-color;
                    @include br747{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
