#p-service-02{
    .b-for-candiate{
        margin-top: 77px;
        position: relative;
        z-index: 2;
        @include br747{
            margin-top: 45px;           
        }
        .c-title{
            margin-bottom: 53px;
            @include br747{
                margin-bottom: 30px;       
            }
            h3{
                font-size: 40px;
                line-height: 42px;
                letter-spacing: 6px;
                margin-bottom: 7px;
                @include br747{
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
            }
            p{
                letter-spacing: 1.5px;
                font-family: "Noto Sans CJK JP", sans-serif;
                font-size: 14px;
            }
        }
        .row{
            margin-left: 0;
            margin-right: 0;
            > div{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .col-left{
            .inner{
                padding: 85px 51px 69px 72px;
                background: url("../images/service02/support-box-bg.jpg") no-repeat center;
                background-size: cover;
                position: relative;
                height: 100%;
                @include br747{
                    padding: 30px;   
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(198, 195, 117, 0.9);
                    z-index: 0;
                }
                .title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    position: relative;
                    z-index: 1;
                    svg{
                        @include br747{
                            width: 50px;
                        }
                    }
                    .text{
                        margin-left: 22px;
                        padding-top: 6px;
                        .subtitle{
                            font-size: 12px;
                            line-height: 24px;
                            letter-spacing: 1.8px;
                            font-weight: 500;
                            color: $main-color;
                            padding: 0px 7px;
                            background-color: #fff;
                            margin-bottom: 12px;
                            display: inline-flex;
                            @include br747{
                                font-size: 10px;
                            }
                        }
                        h3{
                            font-size: 34px;
                            font-weight: 700;
                            line-height: 33px;
                            letter-spacing: 5px;
                            color: #fff;
                            @include br747{
                                font-size: 18px;
                            }
                        }
                    }
                }
                p{
                    color: #fff;
                    position: relative;
                    z-index: 1;
                }
            }
        }
        .col-right{
            .image{
                position: relative;
                height: 100%;
                img{
                    height: 100%;
                    object-fit: cover;
                    @include br1179{
                        height: 359px;
                        object-fit: cover;
                    }
                    @include br747{
                        height: auto;
                        max-height: 300px;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.2);
                    z-index: 0;
                }
            }
        }
    }
    .b-case{
        background-color: rgba(148, 145, 58, 0.1);
        text-align: center;
        margin-bottom: 140px;
        margin-top: -76px;
        padding-top: 195px;
        position: relative;
        z-index: 1;
        @include br747{
            margin-top: 50px;
            padding-top: 30px;   
            margin-bottom: 70px;  
            padding-bottom: 50px;  
        }
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 300px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            z-index: 1;
            @include br747{
                display: none;       
            }
        }
        .container{
            z-index: 2;
        }
        .inner{
            width: 900px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .c-title{
            margin-bottom: 49px;
            h3{
                margin-bottom: -8px;
            }
        }
        .row{
            margin-left: -11.5px;
            margin-right: -11.5px;
            > div{
                padding-left: 11.5px;
                padding-right: 11.5px;
                margin-bottom: 43px;
                @include br747{
                    margin-bottom: 30px;   
                }
            }
        }
        .box{
            background-color: #fff;
            position: relative;
            padding: 15px 10px 19px;
            height: 100%;
            h5{
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1.5px;
                color: #fff;
                background-color: $main-color;
                padding: 5px 12px 1px;
                border-radius: 6px;
                display: inline-flex;
                font-family: "Roboto";
                position: absolute;
                top: -18px;
                left: 50%;
                transform: translateX(-50%);
                @include br747{
                    font-size: 13px;
                    padding: 3px 12px 3px;
                    top: -11px;
                }
                span{
                    position: relative;
                    z-index: 1;
                }
                &::before{
                    content: url("../images/service02/polygon.svg");
                    position: absolute;
                    left: 10px;
                    bottom: -17px;
                    z-index: 0;
                }
            }
            .image{
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 8px;
                img{

                }
            }
            .text{
                font-family: "Yu Gothic";
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 1.8px;
                @include br747{
                    font-size: 13px;
                    line-height: 26px;   
                }
                span{
                    color: $main-color;
                }
            }
        }
        .down{
            margin-top: -14px;
            padding: 0 0 67px;
            @include br747{
                padding: 10px 0 50px;       
            }
        }
        .steps{
            background-color: #fff;
            border: 2px solid $main-color;
            position: relative;
            padding: 63px 30px 39px;
            @include br747{
                padding: 40px 30px 10px;       
            }
            h3.title{
                font-size: 28px;
                font-weight: 500;
                line-height: 54px;
                letter-spacing: 2.8px;
                color: #fff;
                background-color: $main-color;
                padding: 1px 12px 4px;
                border-radius: 4px;
                display: inline-flex;
                position: absolute;
                top: -31px;
                left: 50%;
                transform: translateX(-50%);
                width: 634px;
                justify-content: center;
                max-width: 90%;
                @include br747{
                    font-size: 14px;   
                    letter-spacing: 1px;
                    line-height: 40px;
                }
                span{
                    position: relative;
                    z-index: 1;
                }
                &::before{
                    content: url("../images/service02/polygon.svg");
                    position: absolute;
                    left: 79px;
                    bottom: -30px;
                    z-index: 0;
                }
            }
            .desc{
                font-size: 30px;
                font-weight: 700;
                line-height: 34px;
                letter-spacing: 3px;
                margin-bottom: 36px;
                color: #1E1F21;
                @include br747{
                    font-size: 15px;   
                }
                span{
                    color: $main-color;
                    position: relative;
                    &::after{
                        content: "";
                        width: calc(100% - 16px);
                        height: 2px;
                        position: absolute;
                        bottom: -3px;
                        left: 6px;
                        background-color: $main-color;
                    }
                }
            }
            ul{
                display: flex;
                justify-content: center;
                transform: translateX(-24px);
                position: relative;
                @include br747{
                    display: block;
                    transform: none;
                }
                &::before{
                    content: url("../images/service02/step-arrow.png");
                    position: absolute;
                    top: calc(50% + 4px);
                    transform: translateY(-50%);
                    z-index: -1;
                    right: 59px;
                    @include br971{
                        right: -45px;
                    }
                    @include br747{
                        content: "";
                        border: none;
                        width: 30px;
                        height: 100%;
                        background-color: #E5E4DB;
                        top: 0;
                        transform: translateX(-50%);
                        left: 50%;
                        z-index: 0;
                    }
                }
                li{
                    .step-box{
                        width: 184px;
                        height: 184px;
                        border: 1px dashed $main-color;
                        border-radius: 50%;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: #fff;
                        @include br747{
                            width: 124px;
                            height: 124px;
                            margin: auto;
                            margin-bottom: 30px;
                        }
                        h5{
                            font-size: 16px;
                            font-weight: 700;
                            color: $main-color;
                            letter-spacing: 1.5px;
                            font-family: "Roboto";
                            background-color: #f5f5f5;
                            border-radius: 4px;
                            padding: 4px 10px;
                            position: absolute;
                            display: inline-flex;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -6px;
                        }
                        p{
                            padding: 0 25px;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 34px;
                            color: $main-color;
                            position: relative;
                            margin-bottom: 0;
                            letter-spacing: 2.3px;
                            z-index: 1;
                            @include br747{
                                font-size: 12px;
                                line-height: 24px;
                            }
                        }
                        img{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 0;
                            @include br747{
                                width: 70px;
                            }
                        }
                    }
                    + li{
                        margin-left: 35px;
                        @include br747{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .case-desc{
            margin-top: 23px;
            margin-bottom: 34px;
            text-align: left;
            padding-right: 10px;
        }
        .group-btn{
            width: 700px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            @include br747{
                display: block;       
            }
            a{
                font-size: 18px;
                height: 57px;
                font-weight: 500;
                width: calc(100% - 24px);
                @include br747{
                    font-size: 13px;
                    width: 100%;   
                }
                svg{
                    right: 11px;
                }
                &.btn-active{
                    margin-right: 24px;
                    background-color: $main-color;
                    border-color: $main-color;
                    @include br747{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .b-flow{
        margin-bottom: 148px;
        @include br747{
            margin-bottom: 70px;
        }
        .inner{
            width: 900px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .c-title{
            margin-bottom: 69px;
            h3{
                margin-bottom: -11px;
            }
        }
        .flow-item{
            position: relative;
            &:nth-child(even){
                .row{
                    flex-flow: row-reverse;
                    @include br747{
                        flex-flow: column;
                    }
                }
                .image{
                    text-align: right;
                    .flow-number{
                        left: -13px;
                        @include br747{
                            left: 0;
                        }
                    }
                }
                .content{
                    margin-left: 74px;
                    margin-right: 25px;
                    @include br747{
                        margin-left: 0;
                    }
                }
            }
            + .flow-item{
                margin-top: 122px;
                @include br747{
                    margin-top: 90px;   
                }
            }
            .row{
                margin-left: -10px;
                margin-right: -10px;
                > div{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .image{
                position: relative;
                .flow-number{
                    position: absolute;
                    top: -55px;
                    left: -48px;
                    font-family: "Roboto";
                    font-size: 120px;
                    font-weight: 700;
                    line-height: 1;
                    color: transparent;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: $main-color;
                    z-index: 1;
                    @include br747{
                        font-size: 50px;
                        left: 0;
                    }
                }
                img{
                    width: 394px;
                    height: 315px;
                    object-fit: cover;
                    max-width: 100%;
                }
            }
            .content{
                margin-top: 44px;
                @include br747{
                    margin-top: 15px;   
                }
                h5{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 54px;
                    letter-spacing: 2.3px;
                    margin-bottom: -1px;
                    font-family: "Yu Gothic";
                    @include br747{
                        font-size: 18px;
                        letter-spacing: 1px;
                    }
                }
                p{
                    letter-spacing: 2.2px;
                    line-height: 30px;
                    width: 390px;
                    max-width: 100%;
                    @include br747{
                        line-height: 26px;
                    }
                }
            }
        }
        .group-btn{
            width: 700px;
            max-width: 100%;
            margin-top: 93px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            @include br747{
                display: block;
                margin-top: 20px;   
            }
            a{
                font-size: 18px;
                height: 57px;
                font-weight: 500;
                width: calc(100% - 24px);
                @include br747{
                    font-size: 13px;
                    width: 100%;   
                }
                svg{
                    right: 11px;
                }
                &.btn-active{
                    margin-right: 24px;
                    background-color: $main-color;
                    border-color: $main-color;
                    @include br747{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}