
#footer{
    .block-contact{
        text-align: center;
        background: url("../images/contact-bg.jpg") no-repeat center;
        background-size: cover;
        padding: 78px 0 119px;
        position: relative;
        @include br747{
            padding: 59px 0 43px;
            background: url("../images/contact-bg-mobile.jpg") no-repeat center right;
            background-size: cover;
        }
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(198, 195, 117, 0.8);
            z-index: 1;
        }
        .content{
            width: 900px;
            max-width: calc(100% - 20px);
            margin-left: auto;
            margin-right: auto;
            position: relative;
            z-index: 2;
            @include br747{
                max-width: 100%;
            }
            .title{
                font-size: 36px;
                font-family: "Roboto";
                font-weight: 700;
                letter-spacing: 5.5px;
                color: #FAFAFA;
                margin-bottom: 0;
                @include br971{
                    font-size: 27px;
                }
                @include br747{
                    font-size: 20px;
                    letter-spacing: 3px;
                    margin-bottom: 6px;
                }
            }
            .desc{
                color: #FAFAFA;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1.1px;
                margin-bottom: 34px;
                @include br747{
                    font-size: 10px;   
                }
            }
            .group-btn{
                display: flex;
                justify-content: space-between;
                @include br747{
                    display: block;   
                }
                a{
                    font-size: 18px;
                    font-weight: 500;
                    background-color: #fff;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc((100% - 40px)/2);
                    position: relative;
                    color: $main-color;
                    letter-spacing: 2.5px;
                    @include br747{
                        width: 100%;
                        margin-bottom: 16px;
                        font-size: 13px;
                        justify-content: flex-start;
                        padding: 0px 31px;
                        letter-spacing: 2px;
                        height: 50px;
                    }
                    &:hover{
                        color: #fff;
                        background-color: $main-color;
                        svg{
                            line{
                                stroke: #fff;
                            }
                        }
                    }
                    svg{
                        position: absolute;
                        right: 23px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 1;
                        @include br747{
                            right: 14px;
                            width: 4.6px;
                        }
                    }
                    span{
                        + span{
                            display: none;
                        }
                    }
                    + a{
                        @include br747{
                            span{
                                display: none;
                                + span{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-main{
        padding: 46px 0 43px;
        .container{
            @include br747{
                padding: 0 30px;
            }
        }
        @include br747{
            padding: 50px 0 43px;
        }
        .logo-footer{
            @include br747{
                display: flex;
                justify-content: center;
                margin-bottom: 18px;
                img{
                    width: 85px;
                }
            }
        }
        .block-right{
            text-align: right;
            .link-list{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin-bottom: 10px;
                margin-top: 8px;
                @include br747{
                    justify-content: flex-start;
                    margin-bottom: -14px;
                }
                li{
                    margin-left: 30px;
                    @include br747{
                        margin-left: 0;
                        margin-right: 23px;
                        margin-bottom: 15px;
                    }
                    a{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 30px;
                        color: #1E1F21;
                        @include br747{
                            font-size: 11px;
                        }
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
            }
            .copyright{
                font-size: 11px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 1.1px;
                margin-bottom: 0;
                color: #1E1F21;
                @include br747{
                    font-size: 9px;
                    text-align: center;
                    letter-spacing: 0.9px;
                }
            }
        }
    }
}

