#header{
    .header-desktop{
        padding: 29px 104px 29px 28px;
        @include br747{
            display: none;
        }
        .container-fluid{
            padding-left: 0;
            padding-right: 0;
        }
        .block-right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .logo{
            display: block;
            padding-bottom: 16px;
        }
        .nav-menu{
            @include br971{
                display: none;
            }
            ul{
                display: flex;
                justify-content: flex-end;
                li{
                    &.active a{
                        color: $main-color !important;
                    }
                    a{
                        color: #1E1F21;
                        font-size: 14px;
                        font-family: "TTNorms-Bold";
                        letter-spacing: 1px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 0px 11.5px;
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
    .header-mobile{
        display: none;
        padding: 18px 0 21px;
        .container{
            padding: 0 20px;
        }
        @include br747{
            display: block;
        }
    }
    .toggle-button{
        width: 100px;
        height: 100px;
        background-color: #1E1F21;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 12;
        @include br747{
            width: 60px;
            height: 60px;
        }
        .icon-close{
            display: none;
        }
        svg{
            @include br747{
                width: 20px;
            }
        }
        &.open{
            .icon-menu{
                display: none;
            }
            .icon-close{
                display: block;
            }
        }
    }
    .drawer{
        position: fixed;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #AAA769;
        transition: .5s;
        z-index: 11;
        &.open{
            opacity: 1;
            visibility: visible;
        }
        .logo{
            position: fixed;
            display: inline-block;
            top: 29px;
            left: 28px;
            @include br747{
                top: 19px;
                left: 20px;
            }
            img{
                @include br747{
                    width: 105px;
                }
            }
        }
        .vertical-menu{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            ul{
                li{
                    a{
                        font-size: 28px;
                        line-height: 30px;
                        font-weight: 700;
                        color: #fff;
                        text-transform: uppercase;
                        font-family: "Roboto";
                        letter-spacing: 2.8px;
                        display: block;
                        padding: 15.5px 0;
                        @include br747{
                            font-size: 18px;
                            line-height: 28px;
                            padding: 6.5px 0;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}